.SocialMedia{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-logo-wrapper{
    position: absolute;
    left: 26px;
    top: 50%;
    transform: translate(-50%) translateY(-50%);
    color: black;
}
.SocialMedia-Logo{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px;
}
.SocialMedia-logo_button{
    width: 350px;
    height: 50px;
    position: relative;
}
