.SocialMedia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.SocialMedia-Logo{
    width: 20px;
    height: 20px;
    margin: 10px;
    
}
.SocialMedia-logo_button{
    width: 100%;
    height: 50px;
}
