.course-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 350px;
  padding-top: 10px;
  text-align: center;
}

.course-card-image {
  width: 255px;
  height: 200px;
  object-fit: cover; 
}

.course-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.course-card-info h3{
display: flex;
}
.course-card-stats {
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-card-stats span {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #767092;
  font-size: small;
}
hr{
  margin-top: 10px;
  border: 0;
  border-top: 1px solid #ddd;
}
.course-card-title {
  font-size: 18px;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-card-instructor {
  display: flex;
  align-items: center;

}

.course-card-instructor-name {
  margin-left: 10px;
  color: #888;
}

.course-card-pricing {
  text-align: right;
}


.course-card-price {
  font-size: 20px;
  color: #e67e22;
}

.course-card-link {
  text-decoration: none;
  color: inherit; /* Ensure that the text color is inherited */
}
