.course-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 350px;
  margin: 20px;
  padding-top: 10px;
  text-align: center;
}

.course-image {
  width: 255px;
  height: 199px;
  object-fit: cover;
}

.course-info {
  padding: 15px;
}

.course-stats {
  font-size: small;
}



.course-title {
  font-size: 18px;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-instructor {
  display: flex;
  align-items: center;
}

.course-instructor-name {
  margin-left: 10px;
  color: #888;
}

.course-pricing {
  text-align: right;
}

.course-original-price {
  text-decoration: line-through;
  color: #888;
}

.course-price {
  font-size: 20px;
  color: #e67e22;
}

.course-link {
  text-decoration: none;
  color: inherit; /* Ensure that the text color is inherited */
}
