.signup-container {
  display: flex;
  height: 126%;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
}

/* Side Banner Styles */
.side-banner {
  background-color: #FD9697;
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
  width: 725px;
  height: 100%;
}

.banner-content {
  text-align: center;
}

.banner-content h1 {
  font-weight: 900;
  font-size: 4rem;
}

.banner-content p {
  font-size: 1.2rem;
}

/* Signup Form Styles */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  width: 725px;
  gap: 5px;
}

.signin {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-content: center;
}

.signin-link {
  color: white;
  background-color: #ff6b6b;
  padding: 10px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}

.signup-form h1 {
  margin-bottom: 10px;
}

.signup-form p {
  margin-bottom: 20px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.signup-form div {
  width: 500px;
}

form a {
  text-align: end;
}

.signup-form form button {
  padding: 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form + a {
  color: #ff6b6b;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .signup-container {
    padding: 0;
  }

  .side-banner {
    display: none;
  }

  .signup-form {
    padding:0 ;
  }

  .signup-form form {
    max-width: 100%;
  }
}
