.categoriesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* Optional: ensures the container takes up the full height of the viewport */
    background: linear-gradient(to bottom, #EEEEF6 30%, #EEEEF6 35%, #FFFFFF 35%);
    margin-bottom: 250px;
}

.categoriesMainContainer{

    display: flex;
    flex-direction: column;    
    width: 1000px;
    min-height: 500px;
}
.categoriesMainContainer-header{
    padding: 50px 0;
}
.categoriesMainContainer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

}