.main-courseDetail-Container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #FFEFEF 30%, #FFEFEF 35%, #FFFFFF 35%);

}
.courseDetail-Container{
    width: 880px;
    height: 100%;
    background-color: inherit;
    padding-top: 30px;
    border: black 1px solid;
}
.courseDetail-main{
    width: 550px;
}
.courseDetail{
    display: flex;
    flex-direction:row;
}
.courseDetail-Video{
    width: 550px;
    height: 400px;
}
.courseDetail-card{
    width: 300px;
}