/* CourseDetail.css */

.main-courseDetail-Container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(to bottom, #FFEFEF 30%, #FFEFEF 35%, #FFFFFF 35%);
  }
  
  .courseDetail-Container {
    width: 880px;
    background-color: inherit;
    overflow:hidden;
  }
  
  .courseDetail {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .courseDetail-main {
    flex: 2;
    margin-right: 20px;
  }
  
  .courseDetail-Video {
    width: 100%;
    height: auto;
  }
  
  .courseDetail-main-header {
    margin-top: 20px;
  }
  
  .courseDetail-main-header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  
  .courseDetail-main-header nav ul li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    background-color: #EFEFF7;
  }
  
  .courseDetail-main-header nav ul li:hover {
    background-color: #f0f0f0;
  }
  
  .courseDetail-card {
    flex: 1;
  }
  