/* CourseDetail.css */

.main-courseDetail-Container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #FFEFEF 30%, #FFEFEF 35%, #FFFFFF 35%);
}

.courseDetail-Container {
  width: 900px;
  background-color: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.courseDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.courseDetail-main_container {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.courseDetail-Video {
  width: 100%;
  height: auto;
}

.courseDetail-main-header {
}

.courseDetail-main-header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.courseDetail-main-header nav ul li a {
  text-decoration: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: #EFEFF7;
  color: rgb(28, 28, 28);
}

.courseDetail-main-header nav ul li a:hover {
  color: white;
  background-color: #F68C1F;
}

.courseDetail-main-header nav ul li a.active {
  color: white;
  background-color: #F68C1F;
}

.courseDetail-card {
  flex: 1;
}
