.instructorAdminContainer {
  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.instructorAdminHeader {
  grid-area: header;
  border-bottom: 1px solid rgba(128, 128, 128, 0.203);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.instructorAdminSidebar {
  grid-area: sidebar;
  border: 1px solid rgba(128, 128, 128, 0.203);
}

.instructorAdminMain {
  grid-area: main;
  padding: 20px;
}

.instructorAdminMainHeader {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.newCourseCreateBtn{
  text-decoration: none;
  padding: 5px 20px;
  border: 2px solid black;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.instructorAdminMainDatagrid {
  padding: 20px;
}
