.mycourseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* Optional: ensures the container takes up the full height of the viewport */
    background: linear-gradient(to bottom, #EEEEF6 30%, #EEEEF6 35%, #FFFFFF 35%);
}
.mycourseHeader {
    padding: 70px 0;
    width: 1000px;

}
.mycourseHeader h1 {
    color: #2F2D3A;
}
.mycourseBody{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;

}