.Shopping_cart-mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #FFEFEF 30%, #FFEFEF 35%, #FFFFFF 35%);

}
.Shopping_cart-container{
    width: 880px;
    height: 100%;
    background-color: inherit;
    display: flex;
}