.chapter-lessons-container{
    padding: 20px;
}
.chapter-lessons-header{
    display: flex;
    justify-content: flex-start
}
.back-btn{
    display: flex;
    text-decoration: none;
    color: black;
}

.chapter-lessons-body{
    display: flex;
    flex-direction: row;
}
.chapter-customization{
    width: 50%;
    padding: 30px;
    
}
.chapter-lessons{
    width: 50%;
    padding: 20px;
}