.chapter-lessons-container{
    padding: 20px;
}
.chapter-lessons-header{
    display: flex;
    justify-content: flex-start
}
.back-btn{
    display: flex;
    text-decoration: none;
    color: black;
}
.chapter-lessons-header{
    display: flex;
    justify-content: space-between;
}

.chapter-lessons-body{
    display: flex;
    flex-direction: row;

}
.chapter-customization{
    width: 50%;
    padding: 30px;   
}
.chapter-customization_body{
    width: 70%;
}
.chapter-lessons{
    width: 50%;
    padding: 20px;
}
.lessonbtns{
    display: flex;
    flex-direction: row;

}