.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    padding-top:30px;
}
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF5A5F;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }
  
  .nav-link:hover {
    color: #FF5A5F;
  }
  
  .search {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 30%;
  }
  
  .search input {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
  }
  
  .search button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
  }
  
  .register {
    background-color: #FF5A5F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .register:hover {
    background-color: #ff7879;
  }