.background {
    display: flex;
    justify-content: center;
    background-color: rgb(137, 41, 41);
    width: 100%;
    height: 100vh; /* Adjust based on your needs */
  }
  
  .content {
    width: 100px;
    background-color: white;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 100px) {
    .content {
      width: 100%;
    }
  }