.course-header-container {
  background-color: inherit;
  border-radius: 10px;
  color: #5E5880;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.course-header-about {
  flex: 1;
}

.course-header-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.course-header-main {
  display: flex;
  width: 100%;
  gap: 30px;
}

.course-header p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.course-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: smaller;
}

.course-rating, .course-enrollment, .course-duration, .course-lessons {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 1em;
  background-color:inherit;
}



