.course-detail-header {
  background-color: inherit;
  padding: 20px;
  border-radius: 10px;
  color: #5E5980;
}

.course-header-about {
  flex: 1;
}

.course-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.course-header-main {
  display: flex;
  width: 100%;
}

.course-header p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.course-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.course-rating, .course-enrollment, .course-duration, .course-lessons {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 1em;
  background-color:inherit;
}

.course-rating .star {
  color: gold;
}

.course-enrollment{

}
