.curriculum-section {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
.section-title{
    cursor: pointer;
}
  .course-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .course-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .course-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .course-section .lecture-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .course-section .lecture-info span {
    margin-right: 20px;
  }
  
  .course-section .preview {
    color: #6a0dad;
  }
  