.courses-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.courses-container{
    display: flex;
    width: 1000px;
    background-color: transparent;
    text-align: center;
    flex-direction: column; 
    justify-content: space-around; 
    height: 100%;
    gap: 40px;
}
.courses-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .courses-header h1{
    color: #2F2D3A;
  }
  .view-all-btn{
    background-color: #ff6347; /* Tomato color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .courses-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
  }