.lesson-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    display: flex;
  }
  
  .lesson-card-image {
    border-radius: 10px;
    width: 50%;
    height: auto;
  }
  
  .lesson-card-info {
    padding-left: 10px;
    text-align: left;
  }
  
  .lesson-card-number {
    color: #666;
    font-size: 12px;
  }
  
  .lesson-card-title {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .lesson-card-instructor {
    display: flex;
    align-items: center;
  }
  
  .instructor-card-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .progress-bar {
    background-color: #ff6f61;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
  